@using ProftaakProject.Models.ViewModels.PostModels
@model ProftaakProject.Models.ViewModels.PostModels.ArtikelToevoegenViewModel
@{
    ViewData["Title"] = "ArtikelToevoegen";
}

<h2>Artikel Toevoegen</h2>
<hr />
<body>
    <div class="form-row">
        <form method="post" asp-controller="Post" asp-action="ArtikelToevoegen" enctype="multipart/form-data">
            <div class="form-group col-md-12">

                <label class="postAanmaakKoppen">Titel</label>
                <input asp-for="Titel" class="form-control" value="@Model.Titel" />
                <span asp-validation-for="Titel" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label class="postAanmaakKoppen">Inhoud</label>
                <textarea asp-for="Inhoud" class="postAanmakenInhoud">@Model.Inhoud</textarea>
                <span asp-validation-for="Inhoud" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                @if (Model.Uitzendbureau != null)
                {
                    var gebruiker = true;//Dit zorgt ervoor dat een gebruiker altijd post naar zijn uitzendbureau.
                    if (Model.Uitzendbureau.Id > 0)
                    {
                        <input type="checkbox" asp-for="HeeftUitzendbureau" /> <label>Uitzendbureau koppelen</label>
                        if (User.IsInRole("Gebruiker"))
                        { <input type="hidden" asp-for="HeeftUitzendbureau" value="@gebruiker" /> <label>Uitzendbureau koppelen</label>}
                    }
                }
            </div>
            <div class="col-md-3">
                <select tag="option" asp-for="Tag.Id" class="form-control LoginVelden">
                    @foreach (Tag tempTag in Model.Tags)
                    {
                        <option value="@tempTag.Id">@tempTag.Naam</option>
                    }
                </select>
                <span asp-validation-for="Tag"></span>
            </div>
            <div class="form-group">
                <input value="@Model.Id" type="hidden" asp-for="Id" class="form-control" />
            </div>
            <div class="col-md-5">
                <span asp-validation-for="ImageFile" class="text-danger"></span>
                <input type="hidden" asp-for="ImageFile" />
                @Html.EditorFor(model => model.ImageFile)
            </div>
            <br />
            <div class="col-md-2">
                <div>
                    <input type="submit" value="Aanmaken" class="btn btn-dark" asp-controller="Post" asp-action="ArtikelToevoegen" formmethod="post" />
                </div>
            </div>
        </form>
    </div>
    <hr />
</body>