@model ProftaakProject.Models.ViewModels.ArtikelViewModel
@{
    ViewData["Title"] = "Artikel";
}

@if (Model.Post.Uitgelicht)
{
    <style>
        .Border {
            border: 4px solid;
            border-radius: 10px;
            -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3F55A1), to(#C42872)) 1 100%;
            width: 900px;
            padding-right: 30px;
            margin-top: 50px;
        }
    </style>
}
else
{
    <style>
        .Border {
        }
    </style>
}

<div class="card Border">
    <div class="card-header">
        <img src="data:image/png;base64,@Model.ImageFile" class="img-thumbnail" />
    </div>
    <div class="card-body">
        <h4 class="card-title">@Model.Post.Titel</h4>
        <p class="card-text">@Model.Post.Inhoud</p>
    </div>
    <div class="card-footer row">
        <div class="col-md-4">
            <p class="auteurText">@Model.Post.Auteur.Naam</p>
            @if (Model.Post.Uitzendbureau != null)
            {<p class="auteurText">@Model.Post.Uitzendbureau.Naam</p>}
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            var containsTag = false;
            <div class="col-md-2">

                @foreach (var tag in Model.Account.GeabonneerdeTags)
                {
                    if (tag.Id == Model.Post.Tag.Id)
                    {
                        containsTag = true;
                    }
                }
                @if (containsTag)
                {
                    <a class="btn btn-success" href="@Url.Action("TagAbonneren", "Post", new {postID = Model.Post.Id, tagID = Model.Post.Tag.Id})">Abonnement opzeggen</a>
                }
                else
                {
                    <a class="btn btn-success" href="@Url.Action("TagAbonneren", "Post", new {postID = Model.Post.Id, tagID = Model.Post.Tag.Id})">Abonneren</a>
                }
            </div>
        }
        @if (User.IsInRole("Admin") || Model.Account.Id == Model.Post.Auteur.Id)
        {
            <div class="col-md-2">
                <a class="btn btn-success" href="@Url.Action("ArtikelToevoegen", "Post", new {Id = Model.Post.Id})">Bewerken</a>
            </div>
            <div class="col-md-2">
                <a class="btn btn-success" href="@Url.Action("ArtikelVerwijderen", "Post", new {Id = Model.Post.Id})">Verwijderen</a>
            </div>
            <form class="col-md-2" method="post">
                <button asp-action="Uitlichten" type="submit" class="btn btn-success" value="@Model.Post.Id" name="postId">Uitlichten</button>
            </form>
        }
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}