@model ProftaakProject.Models.ViewModels.ArtikelViewModel
@{
    ViewData["Title"] = "Artikel";
}

@if (Model.Post.Goedgekeurd == true)
{
    <style>
        .Border {
            border: 4px solid;
            border-radius: 10px;
            -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3F55A1), to(#C42872)) 1 100%;
            width: 900px;
            padding-right: 30px;
            margin-top: 50px;
        }
    </style>
}
else
{
    <style>
        .Border {
            border: 4px solid;
            border-radius: 10px;
            width: 900px;
            padding-right: 30px;
            margin-top: 50px;
        }
    </style>
}

<div class="card">
    <div class="card-header">
        <img src="data:image/png;base64,@Model.ImageFile" class="img-thumbnail" />
    </div>
    <div class="card-body">
        <h4 class="card-title">@Model.Post.Titel</h4>
        <p class="card-text">@Model.Post.Inhoud</p>
    </div>
    <div class="card-footer">
        <p class="auteurText">Model.Auteur.Naam</p><p>@Model.Post.Uitzendbureau.Naam</p>
        <a href="@Url.Action("ArtikelToevoegen", "Post", new {Id = Model.Post.Id})">Bewerken</a><br /><a href="@Url.Action("ArtikelVerwijderen", "Post", new {Id = Model.Post.Id})">Verwijderen</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}