@using ProftaakProject.Models.ViewModels.PostModels
@model ProftaakProject.Models.ViewModels.PostModels.ArtikelToevoegenViewModel
@{
    ViewData["Title"] = "ArtikelToevoegen";
}

<h2>Artikel Toevoegen</h2>
<hr />
<body>
    <div class="form-row">
        <form method="post" asp-controller="Post" asp-action="ArtikelToevoegen" enctype="multipart/form-data">
            <div class="form-group col-md-12">

                <label class="postAanmaakKoppen">Titel</label>
                <input asp-for="Titel" class="form-control" value="@Model.Titel" />
                <span asp-validation-for="Titel" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label class="postAanmaakKoppen">Inhoud</label>
                <textarea asp-for="Inhoud" class="postAanmakenInhoud">@Model.Inhoud</textarea>
                <span asp-validation-for="Inhoud" class="text-danger"></span>
            </div>

            <div class="col-md-3">
                    <div class="comboboxPostAanmaken">
                        <select class="form-control" name="Tag">
                            <option>Kies een tag</option>
                            @foreach(Tag tempTag in Model.Tags)
                            {
                                <option>@tempTag.Naam</option>
                            }
                        </select>
                    </div>
                </div>

            <div class="row">
                <div class="col-md-3">
                    <select tag="option" input asp-for="Tag.Id" class="form-control LoginVelden">
                        @foreach (Tag tempTag in Model.Tags)
                        {
                            <option value="@tempTag.Id">@tempTag.Naam</option>
                        }
                    </select>
                    <span asp-validation-for="Tag"></span>
                </div>
            </div>

            <div class="form-group">
                <input value="@Model.Id" type="hidden" asp-for="Id" class="form-control" />
                <input value="2019-11-20" type="hidden" asp-for="Datum" class="form-control" />
            </div>

            <div class="col-md-5 ">
                <span asp-validation-for="ImageFile" class="text-danger"></span>
                <label asp-for="ImageFile"></label>
                @Html.EditorFor(model => model.ImageFile)
            </div>
            <div class="col-md-2">
                <div>
                    <input type="submit" value="Aanmaken" class="btn btn-dark" asp-controller="Post" asp-action="ArtikelToevoegen" formmethod="post" />
                </div>
            </div>
        </form>
    </div>
    <hr />
</body>