@model ProftaakProject.Models.ViewModels.ArtikelViewModel
@{
    ViewData["Title"] = "Artikel";
}

@if (Model.Post.Uitgelicht)
{
    <style>
        .Border {
            border: 4px solid;
            border-radius: 10px;
            -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3F55A1), to(#C42872)) 1 100%;
            width: 900px;
            padding-right: 30px;
            margin-top: 50px;
        }
    </style>
}
else
{
    <style>
        .Border {
        }
    </style>
}

<div class="card Border">
    <div class="card-header">
        <img src="data:image/png;base64,@Model.ImageFile" class="img-thumbnail" />
    </div>
    <div class="card-body">
        <h4 class="card-title">@Model.Post.Titel</h4>
        <p class="card-text">@Model.Post.Inhoud</p>
    </div>

    <div class="card-footer">
        <div class="row">
            <div class="col-md-4">
                <p class="auteurText">Auteur: @Model.Post.Auteur.Naam</p>
            </div>

            <div class="col-md-4">
                @if (Model.Post.Uitzendbureau != null)
                {
                    <p class="auteurText">Uitzendbureau: @Model.Post.Uitzendbureau.Naam</p>
                }
            </div>

            <div class="col-md-4">
                <p class="auteurText">Onderwerp: @Model.Post.Tag.Naam</p>
            </div>
        </div>

        <form method="post" class="row">
            <div class="col-md-3">
                @if (User.Identity.IsAuthenticated)
                {
                    var containsTag = false;


                    @foreach (var tag in Model.Account.GeabonneerdeTags)
                    {
                        if (tag.Id == Model.Post.Tag.Id)
                        {
                            containsTag = true;
                        }
                    }
                    @if (containsTag)
                    {
                        <a class="btn btn-success" href="@Url.Action("TagAbonneren", "Post", new {postID = Model.Post.Id, tagID = Model.Post.Tag.Id})">Abonnement opzeggen</a>
                    }
                    else
                    {
                        <a class="btn btn-success" href="@Url.Action("TagAbonneren", "Post", new {postID = Model.Post.Id, tagID = Model.Post.Tag.Id})">Abonneren</a>
                    }

                }
            </div>

            @if (User.IsInRole("Admin") || Model.Account.Id == Model.Post.Auteur.Id)
            {
                <div class="col-md-3" style="align-items:center">
                    <a class="btn btn-success" href="@Url.Action("ArtikelToevoegen", "Post", new {Id = Model.Post.Id})">Bewerken</a>
                </div>
                <div class="col-md-3" style="align-items:center">
                    <button asp-action="ArtikelVerwijderen" type="submit" class="btn btn-success" value="@Model.Post.Id" name="postId">Verwijderen</button>
                </div>
                <div class="col-md-3" style="align-items:center">
                    <button asp-action="Uitlichten" type="submit" class="btn btn-success" value="@Model.Post.Id" name="postId">Uitlichten</button>
                </div>
            }
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}