@using Microsoft.AspNetCore.Identity
@model ProftaakProject.Models.ViewModels.VraagViewModel

@{
    ViewData["Title"] = "Vraag";
}
<div class="card">
    <div class="card-body">
        <h2 class="card-title">@Model.Post.Titel</h2>
        <p class="card-text" style="font-size:20px">@Model.Post.Inhoud</p>
    </div>
    <div class="card-footer">
        @*<p class="auteurText">Model.Auteur.Naam</p> <a href="@Url.Action("ArtikelToevoegen", "Post", new {Id = Model.Post.Id})">Bewerken</a><br /><a href="@Url.Action("ArtikelVerwijderen", "Post", new {Id = Model.Post.Id})">Verwijderen</a>*@
    </div>
    @if (Model.Reacties != null)
    {
        @foreach (Reactie react in Model.Reacties)
        {
            <div class="card-footer">
                <div class="card-footer">@react.Inhoud</div>
                <div class="card-text" style="font-size:15px">
                    react.Auteur.Naam <a href="@Url.Action("ReactieVerwijderen", "Post", new {ReactieID = react.Id ,VraagID = Model.Post.Id})">Verwijderen</a>
                </div>

            </div>
        }
    }
    else
    {
        <div class="card-body">
            <div class="card-text">Er zijn nog geen reacties geplaatst.</div>
        </div>
        <div class="card-footer"></div>
    }

    <div class="card-body">
        <h5>Reageer op deze vraag!</h5>
        <div>
            <form asp-controller="Post" method="post">
                <input type="hidden" asp-for="Post.Id" />
                <input type="hidden" asp-for=" ReactieAanmaken.Inhoud" value="" />
                <textarea asp-for="ReactieInhoud" class="reactieAanmakenInhoud"></textarea>
                <br />
                <span asp-validation-for="ReactieInhoud" class="text-danger"></span>
                <br />
                <input type="submit" asp-action="ReactieAanmaken" value="Reageren" />
            </form>
        </div>
    </div>
</div>

