@model ProftaakProject.Models.ViewModels.VraagViewModel
@{
    ViewData["Title"] = "Vraag";
}
<div class="card">
    <div class="card-body">
        <h2 class="card-title">@Model.Post.Titel</h2>
        <p class="card-text" style="font-size:20px">@Model.Post.Inhoud</p>
    </div>
    <div class="card-footer">
        <p class="auteurText">@Model.Post.Auteur.Naam</p>
        @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
        {
            <div class="row">
                <div class="col-md-2">
                    <a class="btn btn-success" href="@Url.Action("ArtikelToevoegen", "Post", new { Id = Model.Post.Id })">Bewerken</a>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-success" href="@Url.Action("ArtikelVerwijderen", "Post", new { Id = Model.Post.Id })">Verwijderen</a>
                </div>
            </div>
        }
    </div>
    @if (Model.Reacties != null)
    {
        @foreach (Reactie react in Model.Reacties)
        {
            if (react.Goedgekeurd)
            {
                <div class="card-footer goedgekeurd">
                    <div class="card-footer">@react.Inhoud</div>
                    <div class="card-text" style="font-size:15px">
                        <br />
                        <div class="row">
                            <div class="col-md-10">
                                @react.Auteur.Naam
                            </div>
                            <div class="col-md-2">
                                <a class="btn btn-success" href="@Url.Action("ReactieVerwijderen", "Post", new { ReactieID = react.Id, VraagID = Model.Post.Id })">Verwijderen</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="card-footer">
                    <div class="card-footer">@react.Inhoud</div>
                    <div class="card-text" style="font-size:15px">
                        <br />
                        <div class="row">
                            <div class="col-md-8">
                                @react.Auteur.Naam
                            </div>
                            @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                            {
                                <div class="col-md-2">
                                    <a class="btn btn-success" href="@Url.Action("ReactieGoedkeuren", "Post", new {ReactieID = react.Id ,VraagID = Model.Post.Id})">Goedkeuren</a>
                                </div>
                                <div class="col-md-2">
                                    <a class="btn btn-success" href="@Url.Action("ReactieVerwijderen", "Post", new {ReactieID = react.Id ,VraagID = Model.Post.Id})">Verwijderen</a>
                                </div>
                            }
                            else if (Model.Post.Auteur.Gebruikersnaam == User.Identity.Name || react.Auteur.Naam == User.Identity.Name)
                            {
                                <div class="col-md-2">
                                    <a class="btn btn-success" href="@Url.Action("ReactieVerwijderen", "Post", new {ReactieID = react.Id ,VraagID = Model.Post.Id})">Verwijderen</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        }
    }
    else
    {
        <div class="card-body">
            <div class="card-text">Er zijn nog geen reacties geplaatst.</div>
        </div>
        <div class="card-footer"></div>
    }
    @if (User.Identity.IsAuthenticated)
    {
        <div class="card-body">
            <h5>Reageer op deze vraag!</h5>
            <div>
                <form asp-controller="Post" method="post">
                    <input type="hidden" asp-for="Post.Id" />
                    <input type="hidden" asp-for=" ReactieAanmaken.Inhoud" value="" />
                    <textarea asp-for="ReactieInhoud" class="reactieAanmakenInhoud"></textarea>
                    <br />
                    <span asp-validation-for="ReactieInhoud" class="text-danger"></span>
                    <br />
                    <div class="row">
                        <div class="col-md-2">
                            <input class="btn btn-success" type="submit" asp-action="ReactieAanmaken" value="Reageren" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    }
</div>

