@using Microsoft.AspNetCore.Identity
@model ProftaakProject.Models.ViewModels.VraagViewModel

@{
    ViewData["Title"] = "Vraag";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">@Model.Post.Titel</h4>
        <p class="card-text">@Model.Post.Inhoud</p>
    </div>
    <div class="card-footer">
        @*<p class="auteurText">Model.Auteur.Naam</p> <a href="@Url.Action("ArtikelToevoegen", "Post", new {Id = Model.Post.Id})">Bewerken</a><br /><a href="@Url.Action("ArtikelVerwijderen", "Post", new {Id = Model.Post.Id})">Verwijderen</a>*@
    </div>
    @if (Model.Reacties != null)
    {
        @foreach (Reactie react in Model.Reacties)
        {
            <div class="card-body">
                <div class="card-text">@react.Inhoud</div>
                <div class="card-footer">@react.Auteur.Naam</div>
            </div>
        }
    }
    else
    {
        <div class="card-body">
            <div class="card-text">Er zijn nog geen reacties geplaatst.</div>
        </div>
    }
    <div class="card-body">
        <div class="card-text">
            <form asp-controller="Post" method="post">
                <input type="text" asp-for="ReactieAanmaken.Inhoud" />
                <input type="submit" asp-action="ReactieAanmaken" />
            </form>
        </div>
    </div>
</div>

