<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProftaakProject</title>
    <environment include="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="https://kit.fontawesome.com/590950580f.js" crossorigin="anonymous"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

        <script src="https://kit.fontawesome.com/590950580f.js" crossorigin="anonymous"></script>

    </environment>
</head>
<body class="d-flex flex-column h-100">
    <header>
        <div class="container-fluid" id="mainNav">
            <div class="row">
                <nav class="navbar navbar-expand-sm fixed-top easyflex_nav">
                    <div class="col-md-3">
                        <h1 id="text_nav">
                            <a href="@Url.Action("Index", "Home")"> <i>Easyflex</i></a>
                        </h1>
                    </div>
                    @*@if (User.Identity.IsAuthenticated)
                    {
                        <div class="col-md-3">
                            <a href="@Url.Action("Notificaties", "Home")" style="color:white">Notifications</a>
                        </div>
                    }*@
                    <div class="offset-md-3 col-md-3">
                        <form class="form-inline">
                            <div>
                                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                            </div>
                            <div>
                                <button class="btn btn-outline-light" type="submit">Search</button>
                            </div>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <main role="main" class="flex-shrink-0">
        <div class="container-fluid" id="margin_top">
            <div class="row">
                <div class="col-md-7 sideBar" id="nav">
                    <nav id="colorlib-main-menu" role="navigation">
                        <div>
                            <a class="nav-link side-bar-text" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home fa-2x icon"></i><label>Home</label></a>
                            <br />
                            @if (Context.User.Identity.IsAuthenticated)
                            {
                                <a class="nav-link side-bar-text" asp-area="" asp-controller="Account" asp-action="Logout"><i class="fas fa-sign-out-alt fa-2x icon"></i><label>Uitloggen</label></a>
                            }
                            else
                            {
                                <a class="nav-link side-bar-text" asp-area="" asp-controller="Account" asp-action="Login"><i class="fas fa-chalkboard-teacher fa-2x icon"></i><label>Login</label></a>
                            }
                            <br />
                            <a class="nav-link side-bar-text" asp-area="" asp-controller="Account" asp-action="Profiel"><i class="far fa-user-circle fa-2x icon"></i><label>Profiel</label></a>
                            <br />
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a class="nav-link side-bar-text" asp-area="" asp-controller="Notificaties" asp-action="Home"><i class="far fa-bell fa-2x icon"></i><label>Notificaties</label></a>

                            }
                            <br />
                            <a class="nav-link side-bar-text" asp-area="" asp-controller="Post" asp-action="ArtikelToevoegen"><i class="far fa-newspaper fa-2x icon"></i><label>Artikelen</label></a>
                            <br />
                            <a class="nav-link side-bar-text" asp-area="" asp-controller="Post" asp-action="FAQ"><i class="fas fa-question fa-2x icon"></i><label>Vragen</label></a>
                            <br />
                            <a class="nav-link side-bar-text" asp-area="" asp-controller="Account" asp-action="Login"><i class="far fa-calendar-alt fa-2x icon"></i><label>Kalender</label></a>
                            <br />
                            <a class="nav-link side-bar-text" asp-area="" asp-controller="Account" asp-action="Geschiedenis"><i class="fas fa-history fa-2x icon"></i><label>Geschiedenis</label></a>
                            <br />
                            <a class="nav-link side-bar-text" asp-area="" asp-controller="Uitzend" asp-action="Index"><i class="fas fa-podcast fa-2x icon"></i><label>Uitzendbureaus</label></a>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="col-md-6 offset-md-2 viewBody">
                @RenderBody()
            </div>
        </div>
    </main>
    <partial name="_CookieConsentPartial" />
    <partial name="_ValidationScriptsPartial" />

    <footer class="footer mt-auto py-3">
        <div class="container">
            <p>&copy; 2019 - ProftaakProject</p>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
