@using ProftaakProject.Models.ViewModels
@model ProftaakProject.Models.ViewModels.UitzendViewModel
@{
    ViewData["Title"] = "Uitzendbureau";
}

<body>
    <h1>@Model.Naam</h1>
    <div class="col-md-11">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Gebruikersnaam</th>
                    <th scope="col">Naam</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            @foreach (Account accvm in Model.avm)
            {
                <tr>
                    <td>@accvm.Gebruikersnaam</td>
                    <td>@accvm.Naam</td>
                    <td>@accvm.Email</td>
                    <td>
                        @if (User.IsInRole("Admin"))
                        {
                            <form asp-controller="Uitzend">
                                <input type="hidden" asp-for="@Model.Id" value="@Model.Id" />
                                <input type="hidden" asp-for="@Model.AccountTeVerwijderen.Id" value="@accvm.Id" />
                                <input class="btn btn-dark" type="submit" asp-action="VerwijderGebruiker" formmethod="post" value="Verwijder" />
                            </form>
                        }
                    </td>
                </tr>

            }
        </table>
        <form>
            <div class="KnopUitzend">

                <input type="submit" value="Voeg gebruiker toe" class="btn btn-dark" asp-controller="Uitzend" asp-action="AccountToevoegen" asp-route-id="@Model.Id" formmethod="get" />

                <input type="submit" value="Terug" class="btn btn-dark" asp-controller="Uitzend" asp-action="Index" />
            </div>
        </form>
    </div>
</body>

